---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Main Page">
    <main class={"min-w-full min-h-full flex flex-col items-center"}>
        <div class={"w-full flex flex-col justify-center items-center px-14"}>
            <p>404 lol</p>
        </div>
    </main>
</Layout>
