---
import Layout from '../layouts/Layout.astro';
import { Image } from "astro:assets";
import { isLoggedIn } from "../lib/supabase";
import ProgressBar from "../components/ProgressBar.astro";
import * as crypto from "crypto";
import {type BinaryLike} from "node:crypto";

export const prerender = false

const { cookies, redirect } = Astro;

let data = await isLoggedIn(cookies)
if (data == null) {
    return redirect("/signin")
}

const email = data.user?.email;
const hash = crypto.createHash('sha256')
hash.update(email as BinaryLike)
const emailHash = hash.digest('hex')
---

<Layout title="Dashboard">
    <div class={"mx-10 my-10 flex flex-row gap-x-6"}>
        <div class={"bg-background-800 rounded-2xl p-3 flex flex-col justify-between"}>
            <div>
                <Image class={"w-full aspect-square"} alt="Profile" inferSize={true} loading="eager" src={"https://www.gravatar.com/avatar/" + emailHash}/>
                <hr class={"mt-3 mb-2 border-accent-300"}/>
                <h3 class={"text-xl font-bold"}>Email:</h3>
                <p class={"italic"}>{ email }</p>
                <h3 class={"text-xl font-bold"}>Username:</h3>
                <p class={"italic"}>PLACEHOLDER</p>
                <h3 class={"text-xl font-bold"}>Stats:</h3>
                <ol>
                    <li class={"italic"}># pages read</li>
                    <li class={"italic"}># challenges attempted</li>
                    <li class={"italic"}># challenges completed</li>
                </ol>
            </div>
            <a href={"/api/auth/signout"} class={"hover:underline font-bold bg-red-500 rounded-2xl text-center py-2"}>Sign out</a>
        </div>
        <div class={"flex-grow flex flex-col gap-y-4"}>
            <div class={"bg-background-800 rounded-2xl p-3"}>
                <h2 class={"text-2xl"}>Chapter 1 Progress:</h2>
                <div class={"flex flex-col gap-y-1"}>
                    <ProgressBar fill="40">Cryptography</ProgressBar>
                    <ProgressBar fill="50">Forensics</ProgressBar>
                    <ProgressBar fill="30">Open Source Intelligence</ProgressBar>
                    <ProgressBar fill="20">Reverse Engineering</ProgressBar>
                    <ProgressBar fill="70">Web Exploitation</ProgressBar>
                    <ProgressBar fill="10">Binary Exploitation</ProgressBar>
                </div>
            </div>
            <div class={"bg-background-800 rounded-2xl p-3"}>
                <h2 class={"text-2xl"}>Chapter 2 Progress:</h2>
                <div class={"flex flex-col gap-y-1"}>
                    <ProgressBar fill="40">Cryptography</ProgressBar>
                    <ProgressBar fill="50">Forensics</ProgressBar>
                    <ProgressBar fill="30">Web Exploitation</ProgressBar>
                    <ProgressBar fill="20">Binary Exploitation</ProgressBar>
                </div>
            </div>
        </div>
    </div>
</Layout>