---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Main Page">
	<main class={"min-w-full min-h-full flex flex-col items-center"}>
		<div class={"w-full flex flex-col justify-center items-center px-14"}>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa delectus id nostrum reprehenderit sed suscipit. Ad corporis cupiditate doloribus harum impedit rem vero? Consequatur iure minus nobis pariatur, vitae voluptatem.</p>
		</div>
	</main>
</Layout>
