---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Sign In">
    <main class={"min-w-full flex-grow flex flex-col items-center justify-center"}>
        <div class={"w-fit bg-background-800 rounded-3xl px-28 py-12 flex flex-col justify-center items-center gap-y-4"}>
            <h1 class={"text-3xl font-bold"}>Sign In</h1>
            <form action={"/api/auth/register"} class={"flex flex-col gap-y-4"}>
                <label>
                    Email:
                    <input type="text" placeholder="Username" name="username"/>
                </label>
                <label>
                    Password:
                    <input type="text" placeholder="Password" name="password"/>
                </label>
                <button type="submit">Log In</button>
            </form>
        </div>
    </main>
</Layout>
