---
import {splitSlug} from "../lib/slug";
import {splitSlug} from "../lib/slug";
import { getCollection } from 'astro:content';

interface Props {
    currentSlug: string
}

const { currentSlug } = Astro.props
let [ chapter, section, name ] = splitSlug(currentSlug)

const entries = await getCollection("guides")

const sectionEntries = new Map()
entries.forEach((entry) => {
    let firstSlash = entry.slug.indexOf("/")
    let entryChapter = entry.slug.substring(0, firstSlash)
    if (chapter != entryChapter) {
        return
    }

    let secondSlash = entry.slug.indexOf("/", firstSlash + 1)
    let entrySection = entry.slug.substring(firstSlash + 1, secondSlash)

    if (sectionEntries.has(entrySection)) {
        let existingArray: [string, number, string | null][] = sectionEntries.get(entrySection)
        let toPush: [string, number, string | null] = [entry.data.title, entry.data.order, (entry.slug == currentSlug ? null : entry.slug)]
        existingArray.push(toPush)
        sectionEntries.set(entrySection, existingArray)
    } else {
        sectionEntries.set(entrySection, [[entry.data.title, entry.data.order, (entry.slug == currentSlug ? null : entry.slug)]])
    }
})
---

<div class={"bg-background-800 px-4 py-4 text-left rounded-xl min-w-64 max-w-64 h-fit"}>
    <div class={"flex flex-col gap-y-3.5"}>
        {
            Array.from(sectionEntries).map(([key, value]) => {
                let title = key.replaceAll("-", " ")
                return (
                        <div>
                            <h3 class={"capitalize border-b-2 border-accent-600 mb-2"}>{ title }</h3>
                            <div class={"flex flex-col gap-y-1"}>
                                { (value as [string, number, string | null][]).sort((element1, element2) => {
                                    let order1 = element1[1]
                                    let order2 = element2[1]
                                    if (order1 < order2) {
                                        return -1
                                    } else if (order1 > order2) {
                                        return 1
                                    } else {
                                        return 0
                                    }
                                }).map(([title, _, slug]) => {
                                    return (
                                        (slug == null ?
                                                        <a class={"px-3.5 py-2 bg-accent-500 rounded-md"}>
                                                            <p>{ title }</p>
                                                        </a>
                                                :
                                                        <a class={"px-3.5 py-2 hover:bg-accent-700 rounded-md"}
                                                           href={"/docs/" + slug}>
                                                            <p>{ title }</p>
                                                        </a>
                                        )
                                    )
                                }) }
                            </div>
                        </div>
                )
            })
        }
    </div>
</div>
