---
export const prerender = false;

import Layout from "../../../../layouts/Layout.astro";
import { getEntry, getCollection } from 'astro:content';

const { chapter, section, page } = Astro.params;

const slug: string = chapter + "/" + section + "/" + page
const entries = await getCollection("guides")

if ((entries.map((entry) => entry.slug) as string[]).indexOf(slug) == -1) {
    return Astro.redirect("/404")
}

const sectionEntries = new Map()
entries.forEach((entry) => {
    if (entry.slug) {
        let firstSlash = entry.slug.indexOf("/")
        let section = entry.slug.substring(firstSlash + 1, entry.slug.indexOf("/", firstSlash + 1))
        if (sectionEntries.has(section)) {
            let existingArray: string[] = sectionEntries.get(section)
            console.log(existingArray)
            sectionEntries.set(section, existingArray.push(entry.data.title))
        } else {
            sectionEntries.set(section, [entry.data.title])
        }
    }
})

const entry = await getEntry("guides", slug)

const { Content, headings } = await entry!.render()
---

<Layout title={ entry!.data.title }>
    <div class={"flex flex-grow px-48 py-12 gap-x-8"}>
        <div class={"bg-background-800 px-4 py-4 min-w-fit text-left rounded-xl"}>
            <p class={"capitalize"}>{ chapter.replace("-", " ") }</p>
            <div class={"border-t-2 border-accent-600"}>
                {
                }
            </div>
        </div>
        <div class={"content flex flex-col gap-y-2"}>
            <Content/>
        </div>
    </div>
</Layout>

<style is:global>
    .content {
        h1 {
            @apply text-5xl
        }
    }
</style>


