---
import Layout from "../../../../layouts/Layout.astro";
import { ArrowUp } from "react-bootstrap-icons";
import { getCollection } from 'astro:content';
import Navbar from "../../../../components/Navbar.astro";
import {splitSlug} from "../../../../lib/slug";

export async function getStaticPaths() {
    const entries = await getCollection('guides');

    function getParams(slug: string) {
        let [ entryChapter, entrySection, entryName ] = splitSlug(slug)

        return {
            chapter: entryChapter,
            section: entrySection,
            page: entryName
        }
    }

    return entries.map(entry => ({
        params: getParams(entry.slug),
        props: {
            entry
        },
    }))
}

const { entry } = Astro.props
const { Content } = await entry.render()
---

<span id="top"/>
<Layout title={ entry.data.title }>
    <div class={"flex flex-col px-48 py-12 gap-y-12"}>
        <div class={"flex flex-grow gap-x-8"}>
            <Navbar currentSlug={ entry.slug }/>
            <div class={"content flex flex-col gap-y-2.5"}>
                <Content/>
            </div>
        </div>
        <div class={"flex justify-center"}>
            <a class={"bg-accent-600 p-3 rounded-full flex items-center gap-x-2 animate-bounce"} href="#top">
                <ArrowUp size="32"/>
            </a>
        </div>
    </div>
</Layout>

<style is:global>
    .content h1:not(astro-island *) {
        @apply text-5xl
    }
    .content a:not(astro-island *) {
        @apply text-accent-400 font-bold hover:underline
    }
    .content img:not(astro-island *) {
        @apply my-2
    }

    .content > ol,
    .content > ul {
        @apply list-disc ml-2.5
    }
    .content > ol > li > ol,
    .content > ul > li > ul {
        @apply list-disc ml-5
    }
    .content > ol > li > ol > li > ol,
    .content > ul > li > ul > li > ul{
        @apply list-disc ml-[1.875rem]
    }


</style>


