---
export const prerender = false;

import Layout from "../../../../layouts/Layout.astro";
import { getEntry } from 'astro:content';

const { chapter, section, page } = Astro.params;

const slug: string = section + "/" + page
// wtf? collection parameter takes in a value from ContentEntryMap from .astro/types.d.ts, yet that map is private lol
const entry = await getEntry("chapter-1", slug)

const { Content, headings } = await entry!.render()

---

<Layout title={ entry!.data.title }>
    <p>{ entry!.data.title }</p>
    <Content/>
</Layout>

<style>
    h1 {
        @apply text-5xl
    }
</style>


