---
export const prerender = false;

import Layout from "../../../../layouts/Layout.astro";
import { getEntry, getCollection } from 'astro:content';

const { chapter, section, page } = Astro.params;

const slug: string = chapter + "/" + section + "/" + page
const entries = await getCollection("guides")

if ((entries.map((entry) => entry.slug) as string[]).indexOf(slug) == -1) {
    return Astro.redirect("/404")
}

const sectionEntries = new Map()
entries.forEach((entry) => {
    let firstSlash = entry.slug.indexOf("/")
    let section = entry.slug.substring(firstSlash + 1, entry.slug.indexOf("/", firstSlash + 1))
    if (sectionEntries.has(section)) {
        let existingArray: [string, string | null][] = sectionEntries.get(section)
        let toPush: [string, string | null] = [entry.data.title, (entry.slug == slug ? null : entry.slug)]
        existingArray.push(toPush)
        sectionEntries.set(section, existingArray)
    } else {
        sectionEntries.set(section, [[entry.data.title, (entry.slug == slug ? null : entry.slug)]])
    }
})

const entry = await getEntry("guides", slug)

const { Content, headings } = await entry!.render()
---

<Layout title={ entry!.data.title }>
    <div class={"flex flex-grow px-48 py-12 gap-x-8"}>
        <div class={"bg-background-800 px-4 py-4 min-w-fit text-left rounded-xl"}>
            <div class={"min-w-32"}>
                {
                    Array.from(sectionEntries).map(([key, value]) => {
                        return (
                                <h3 class={"capitalize border-b-2 border-accent-600 mb-2"}>{ key }</h3>
                                <div class={"flex flex-col gap-y-1"}>
                                    { (value as [string, string | null][]).map(([title, slug]) => {
                                        return (
                                            (slug == null ?
                                                    <a class={"px-3.5 py-2 bg-accent-500 rounded-md"}>
                                                        <p>{ title }</p>
                                                    </a>
                                                :
                                                    <a class={"px-3.5 py-2 hover:bg-accent-700 rounded-md"} href={slug}>
                                                        <p>{ title }</p>
                                                    </a>
                                            )
                                        )
                                    }) }
                                </div>
                        )
                    })
                }
            </div>
        </div>
        <div class={"content flex flex-col gap-y-2"}>
            <Content/>
        </div>
    </div>
</Layout>

<style is:global>
    .content {
        h1 {
            @apply text-5xl
        }
    }
</style>


