---
export const prerender = false;

import Layout from "../../../../layouts/Layout.astro";
import { getEntry } from 'astro:content';

const { chapter, section, page } = Astro.params;

const slug: string = chapter + "/" + section + "/" + page
const entry = await getEntry("guides", slug)

const { Content, headings } = await entry!.render()

---

<Layout title={ entry!.data.title }>
    <div class={"content px-24 py-12 flex flex-col gap-y-2"}>
        <Content/>
    </div>
</Layout>

<style is:global>
    .content {
        h1 {
            @apply text-5xl
        }
    }
</style>


