---
interface Props {
	title: string;
}

const { title } = Astro.props;
---
<!doctype html>
<html lang="en" class="min-h-screen">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class={"min-h-full min-w-full text-text-50 flex flex-col"}>
	<nav class={"w-full h-14 bg-background border-b-2 border-gray-600 flex justify-between items-center px-32"}>
		<div class={"flex justify-between items-center space-x-10"}>
			<a class={"font-bold italic"} href={"/"}>Title</a>
		</div>
		<div class={"flex justify-between items-center text-center text-md"}>
			<a href={"/docs/chapter-1"} class={"navbar-link"}>Chapter 1</a>
			<p class={"text-gray-700 text-5xl -mt-2.5 mx-3.5"}>~</p>
			<a href={"/docs/chapter-2"} class={"navbar-link"}>Chapter 2</a>
		</div>
		<div class={"flex justify-between items-center space-x-10 text-center text-md"}>
			<a href={"/docs/misc"} class={"navbar-link"}>Misc</a>
			<a href={"/signin"} class={"navbar-link"}>Login</a>
		</div>
	</nav>
	<div class={"min-h-[calc(100vh-3.5rem)] flex flex-col"}>
		<slot/>
	</div>
	<footer class="w-full h-52 border-t-2 border-gray-600 ">

	</footer>
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		background-size: 224px;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
